@use "../../scss/base/variables";

.cart {
    padding: 0 variables.$size-s;
    color: variables.$white;
    .grid {
        display: flex;
        flex-direction: column;
        .cart-details-container {
            margin: variables.$size-s 0;
            h3 {
                margin-bottom: variables.$size-s;
            }
        }
        @media (variables.$media-l) {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: variables.$size-s;
            .products-container {
                grid-column: 1 / 9;
            }
            .cart-details-container {
                margin: 0;
                order: 1;
                grid-column: 9 / 13;
            }
            .without-products {
                grid-column: 1 / 13;
            }
        }
    }
    h2 {
        color: variables.$white;
        margin-bottom: variables.$size-m;
    }
    .--clear-cart {
        margin-bottom: variables.$size-s;
        width: fit-content;
    }
    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        .order-container {
            display: flex;
            flex-direction: column;
            .button {
                i {
                    font-size: 30px;
                }
                width: variables.px(40);
                align-self: flex-end;
            }
            padding: variables.$size-s;
            max-width: 600px;
            .order-id {
                color: variables.$red;
            }
        }
    }
}
