@use "../../../scss/base/variables";

.button {
  cursor: pointer;
  color: inherit;
  background: inherit;
  padding: variables.$size-xs;
  &:hover,
  &:active {
    color: variables.$red;
    opacity: 1;
  }
  &.--primary {
    padding: variables.$size-s;
    color: variables.$white;
    background: variables.$red;
  }
}
