@use "../../scss/base/variables";

.form {
    display: flex;
    flex-direction: column;
    .error-message {
        color: variables.$red;
        &.--repeat-email,
        &.--error-submit {
            margin-bottom: variables.$size-xs;
        }
    }
}
