@use "../../scss/base/variables";

.card {
    a {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    width: 100%;
    background-color: variables.$gray;
    color: variables.$light-gray;
    width: 100%;
    padding: variables.$size-m;
    .placeholder {
        overflow: hidden;
        margin: auto;
        img {
            width: 100%;
        }
    }
    span {
        display: inline-block;
    }
    .data-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: auto 0;
        margin-bottom: 0;
        .title-description-container {
            grid-column: 1 / 6;
            font-size: variables.$size-s;
            text-transform: uppercase;
            margin-right: variables.$size-xs;
            .title {
                font-size: variables.$size-s;
                margin-bottom: variables.$size-xs;
            }
            .subtitle,
            .description,
            .stock {
                font-size: variables.px(12);
            }
        }
        .price {
            grid-column: 6 / 7;
        }
        h2,
        h3 {
            font-weight: 400;
        }
    }
    &.--detail {
        .placeholder {
            border-bottom: 1px solid variables.$medium-gray;
            margin-bottom: variables.$size-m;
        }
        .data-container {
            display: flex;
            flex-direction: column;
            margin: 0;
            .title-description-container {
                display: flex;
                flex-direction: column;
                .title {
                    font-size: variables.$size-l;
                }
                .subtitle {
                    font-size: variables.$size-s;
                    opacity: 0.6;
                    margin-bottom: variables.$size-s;
                }
                .description {
                    margin-bottom: variables.$size-s;
                }
            }
        }
        .extra-component {
            margin-top: variables.$size-m;
        }
        @media (variables.$media-l) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .placeholder {
                max-height: none;
                border-bottom: none;
                margin-bottom: 0;
            }
            .data-container {
                justify-content: center;
            }
            .extra-component {
                grid-column: 1 / 3;
            }
        }
    }
}
