@use "../../scss/base/variables";

.card {
    width: 100%;
    background-color: variables.$dark-gray;
    color: variables.$white;
    width: 100%;
    padding: variables.$size-m;
    .placeholder {
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .data-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        .title-description-container {
            grid-column: 1 / 6;
            font-size: variables.$size-s;
            text-transform: uppercase;
            margin-right: variables.$size-xs;
            .title {
                font-size: variables.$size-s;
                margin-bottom: variables.$size-xs;
            }
            .description,
            .stock {
                font-size: variables.px(12);
            }
        }
        .price {
            grid-column: 6 / 7;
        }
        h2,
        h3 {
            font-weight: 400;
        }
    }
}
