@use "../../scss/base/variables";

.card {
    width: 100%;
    background-color: variables.$gray;
    color: variables.$light-gray;
    width: 100%;
    padding: variables.$size-m;
    .placeholder {
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    span{
        display: inline-block;
    }
    .data-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        .title-description-container {
            grid-column: 1 / 6;
            font-size: variables.$size-s;
            text-transform: uppercase;
            margin-right: variables.$size-xs;
            .title {
                font-size: variables.$size-s;
                margin-bottom: variables.$size-xs;
            }
            .subtitle,
            .description,
            .stock {
                font-size: variables.px(12);
            }
        }
        .price {
            grid-column: 6 / 7;
        }
        h2,
        h3 {
            font-weight: 400;
        }
    }
    &.--detail {
        .placeholder {
            border-bottom: 1px solid variables.$medium-gray;
            margin-bottom: variables.$size-m;
        }
        .data-container {
            display: flex;
            flex-direction: column;
            .title-description-container {
                display: flex;
                flex-direction: column;
                .title{
                    font-size: variables.$size-l;
                }
                .subtitle{
                    font-size: variables.$size-s;
                    opacity: .6;
                    margin-bottom: variables.$size-s;
                }
                .description{
                    margin-bottom: variables.$size-s;
                }
            }
        }
        .extra-component{
            margin-top: variables.$size-m;
        }
    }
}
