@use "../../scss/base/variables";

.item-list-container {
    padding: variables.$size-s;
    @media (variables.$media-m) {
        padding: variables.$size-m;
    }
    @media (variables.$media-xl) {
        padding: variables.$size-m 0;
    }
}
