@use "../../scss/base/variables";

.item-detail-container {
    .loader {
        padding: 0 variables.$size-s;
        @media (variables.$media-xl) {
            padding: 0;
        }
    }
    @media (variables.$media-l) {
        margin-top: variables.$height-navs + variables.$size-l;
    }
}
