@use "../../scss/base/variables";

.header-site {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background: variables.$dark-gray;
  color: variables.$light-gray;
  height: variables.px(75);
}
