@use "../../scss/base/variables";

.item-count {
    display: flex;
    flex-direction: column;
    background: variables.$gray;
    width: 100%;
    max-width: variables.px(450);
    color: variables.$white;
    justify-content: space-between;
    margin-bottom: variables.$size-m;
    margin: auto;
    .title {
        padding: variables.$size-xs;
    }
    .counter-container {
        display: flex;
        justify-content: space-between;
        padding: variables.$size-xs 0;
    }
    #on-add-btn[disabled] {
        opacity: 0.4;
    }
}
